name: DevSecOps Security Scan

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    terraform-security:
        name: Trivy IaC Scan
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Run Trivy vulnerability scanner in IaC mode
              uses: aquasecurity/trivy-action@master
              with:
                  scan-type: "config"
                  hide-progress: false
                  format: "table"
                  exit-code: "1"
                  ignore-unfixed: true
                  severity: "CRITICAL,HIGH"

    docker-security:
        name: Trivy Image Scan
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Build an image from Dockerfile
              run: |
                  cd docker-labs/python-web-app
                  docker build -t my-python-app:${{ github.sha }} .

            - name: Run Trivy vulnerability scanner
              uses: aquasecurity/trivy-action@master
              with:
                  image-ref: "my-python-app:${{ github.sha }}"
                  format: "table"
                  exit-code: "1"
                  ignore-unfixed: true
                  vuln-type: "os,library"
                  severity: "CRITICAL,HIGH"
